Encoder Demo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Encoder Demo.xcodeproj/project.xcworkspace/xcuserdata/geraintd.xcuserdatad/UserInterfaceState.xcuserstate
Encoder Demo.xcodeproj/xcuserdata/geraintd.xcuserdatad/xcschemes/Encoder Demo.xcscheme
Encoder Demo.xcodeproj/xcuserdata/geraintd.xcuserdatad/xcschemes/xcschememanagement.plist
